$bg-color: lighten(blue,22%);
$txt-color: #fff;

body{
  background: $bg-color;
  color: $txt-color;
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  line-height: 1.5;
  overflow: hidden;

  .location{
   display: grid;
   grid-template-columns: 25vw 25vw;
   text-align: center;
   grid-gap: 2rem;

   @media (max-width: 550px) {
     grid-template-columns: 1fr;
   }
  }
  .temperature{
    display: flex;
    flex-direction: column;
    text-align: center;

    
    .temp-degree{
      cursor: pointer;
    }
    span{
        font-size: 20px;
    }
  }
}